@import url(__main/body__main.css);

.body {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    height: 100vh;
    background-color: var(--color-bg);
}