.text-to-type {
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 280px;
    width: 900px;
    scroll-behavior: smooth;
}

.text-to-type:focus {
    outline: none;
}