@import url(body/body.css);
@import url(text-to-type/text-to-type.css);
@import url(word/word.css);
@import url(letter/letter.css);
@import url(main/main.css);
@import url(statusbar/statusbar.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}